<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Students        
        </div>

        <div class="present" style="border:1px solid #ccc;height: 400px;">

        </div>


        <div class="card-body">
          <carousel [interval]="3000">
            <slide>
              <img src="assets/img/staff/students/stu_1.png" alt="First slide" class="stu_atten">
            </slide>
            <slide>
              <img src="assets/img/staff/students/stu_2.png" alt="Second slide" class="stu_atten" >
            </slide>
            <slide>
              <img src="assets/img/staff/students/stu_3.png" alt="Third slide" class="stu_atten" >
            </slide>
            <slide>
              <img src="assets/img/staff/students/stu_4.png" alt="Third slide" class="stu_atten" >
            </slide>
            <slide>
              <img src="assets/img/staff/students/stu_5.png" alt="Third slide" class="stu_atten" >
            </slide>
            <slide>
              <img src="assets/img/staff/students/stu_6.png" alt="Third slide" class="stu_atten" >
            </slide>
            <slide>
              <img src="assets/img/staff/students/stu_7.png" alt="Third slide" class="stu_atten" >
            </slide>
          </carousel>
        </div>

        <div class="absent" style="border:1px solid #ccc;height: 400px;">
          
        </div>

      </div>
    </div>
    
  </div>
  
</div>
