
  .certi_img{
    width: 40px;
    border-radius: 41px;
    margin: 4px 10px 16px 2px;
    border: 1px solid #ccc;

  }

  .carosel_img img{
    height:290px;
  }
  
  .card-body h5{
    text-align:center;
  }
  
  .dashb_top_img{
    width: 208px;
    margin: 20px 5px;
  }
  
  .dash_progress{
    text-align:center;
    margin:5px;
  }
  
  .dash_progress .value{
  margin-bottom:5px;
  }
  
  .co_curricular img{ 
  border-radius:100px;
  }
  
  .bg_attendance{
    background:#7fa8bd;
  } 
  
  .tasks{
    border-right:1px solid #ccc;
  }
  
  .icons-list li{
    position: relative;
    height: 90px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    line-height: 25px;
  }

  .certification li{
    position: relative;
    height: 60px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    line-height: 25px;
  }
  .work_approve li .desc{
    border-bottom:none;
  }

  .work_approve li .actions{
    top: 7px;
  }

  .work_flow li .desc{
    border-bottom:none;
  }
  
  .work_flow_bar{
    width:150px!important;
    top:18px!important;
  }
  
  .workflow_btn{
    width:100px!important;
  }
  
  .cal_img{
    width: 43px;
    border-radius: 41px;
    margin: 10px 10px 16px 2px;
    border: 1px solid #ccc;
  }

  .certification .certifi_title{
    margin-left:33px;
   
  }

 .certifi_title .title{
  margin-left:30px;
 }

 .icons-list .certification{
    position: relative;
    height: 70px;
    vertical-align: middle;
    /* border-bottom: 1px solid #ccc; */
    line-height: 25px;
 }

 .leave_req{
  color: #f00!important;
  font-weight: 700;
 }

.attendance_bottom{
    margin: 13px;
    text-align: center;
    font-weight: 700;
    border-top: 1px solid #ccc;
}
.course_chart{
  float: right;
  margin-top: -35px;
}

.icons-list li .desc{
  margin-left: 60px;
}

.cal_img[_ngcontent-c0]{
  margin: 14px 18px 20px 5px;
}
 
.pagi_staff{
  margin-top: 9px;
  margin-bottom: -6px;
} 

.pagi_notifi{
  float: right;
  margin-top: 12px;
  margin-bottom: -25px;
}

.card {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 0 10px 6px -6px #777;
}

.student_img{
  width:80px;
}

.dashb_top_img{
  border-radius: 100px;
}

.dash_progress{
  margin-top: 7px;
  margin-bottom: 18px;
  box-shadow: 0 8px 6px -6px #ccc;

}

.awards{
  text-align: center;
}